#memo-list {
  columns: 2 150px;
  column-gap: 10px;

  .memo-element {
    width: 100%;
    display: inline-block;
    margin: 0 10px 10px 0;
    cursor: pointer;

    .gallery-list {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-auto-rows: 125px;
      grid-auto-flow: dense;

      .gallery-element {
        display: flex;
        justify-content: center;
        align-items: center;

        &.tall {
          grid-row: span 2;
        }

        &.big {
          grid-column: span 2;
          grid-row: span 2;
        }

        .gallery-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  #memo-list {
    .memo-element {
      .gallery-list {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      }
    }
  }
}
