.description {
  display: flex;
  flex-direction: column;
  align-items: center;

  .image {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }

  .text {
    width: 100%;
    text-align: left;
  }
}
